*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	text-align: center;
}

.container{
margin: 50px;
display: flex;
align-items: center;
flex-wrap: wrap;
gap: 30px;
}


.container > div {
	display: flex;
align-items: center;
	padding: 10px;
	justify-content: center;
	font-size: 2em;
	width: 200px;
	height: 100px;
	background-color: #269ae8;	

}

